<div class="container-fluid">
    <form [formGroup]="regform" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-4"></div>   
            <div class="col-md-5">
                <header>
                    <h1>Registration Form</h1>
                </header>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First Name" formControlName="first_name">
                        <div
                            *ngIf="regform.get('first_name').invalid && (regform.get('first_name').touched || regform.get('first_name').dirty)">
                            <small>*First Name is required</small>
                        </div>
                    </div>
                    <div class="col">
                        <input type="text" name="" id="" class="form-control" placeholder="Last Name"
                            formControlName="last_name">
                        <div
                            *ngIf="regform.get('last_name').invalid && (regform.get('last_name').touched || regform.get('last_name').dirty)">
                            <small>*Last Name is required</small>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="email" formControlName="email">
                        <div *ngIf="regform.get('email').touched || regform.get('email').dirty">
                            <small *ngIf="regform.get('email').hasError('required')">*email is Required</small>
                            <div *ngIf="regform.get('email').invalid && !regform.get('email').hasError('required')">
                                <small>*email is Invalid</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <input type="date" max="{{formattedDate}}" class="form-control" placeholder="date_of_birth"
                            formControlName="date_of_birth">
                        <div
                            *ngIf="regform.get('date_of_birth').invalid && (regform.get('date_of_birth').touched || regform.get('date_of_birth').dirty)">
                            <small>*date_of_birth is required</small>
                        </div>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Contact Number" formControlName="phone"
                            mask="(000) 000-000-000">
                        <div
                            *ngIf="regform.get('phone').invalid && (regform.get('phone').touched || regform.get('phone').dirty)">
                            <small>*Phone Number is required</small>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <label for="gender" class="form-label heading">gender</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="gender" value="male" id="male"
                            formControlName="gender" checked>
                        <label for="male" class="form-check-label" aria>
                            Male
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="gender" value="female" id="female"
                            formControlName="gender">
                        <label for="female" class="form-check-label">
                            Female
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="gender" value="prefer not to say" 
                            formControlName="gender">
                        <label for="prefer not to say" class="form-check-label">
                            Prefer not to say
                        </label>
                    </div>
                </div>

                <!-- Permanent Address -->
                <div class="container" formGroupName="permanent_address">
                    <div class="row mt-5">
                        <div class="col">
                            <label for="Address" class="form-label heading">Permanent Address</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="street Address"
                                formControlName="street">
                            <div
                                *ngIf="regform.get(['permanent_address','street']).invalid && (regform.get(['permanent_address','street']).touched || regform.get(['permanent_address','street']).dirty)">
                                <small>*Enter your Address</small>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <select name="" id="" class="form-select" formControlName="country" (change)="resetPermanentCity()">
                                <option value="" disabled selected>Select country</option>
                                <option value="india">India</option>
                                <option value="usa">USA</option>
                                <option value="canada">Canada</option>
                            </select>
                            <div
                                *ngIf="regform.get(['permanent_address','country']).invalid && (regform.get(['permanent_address','country']).touched || regform.get(['permanent_address','country']).dirty)">
                                <small>*Enter your country</small>
                            </div>
                        </div>

                        <!-- country=India -->
                        <div class="col" *ngIf="regform.get(['permanent_address','country']).value==='india'">
                            <select name="" class="form-select" id="" formControlName="city">
                                <option value="" disabled selected>Select city</option>
                                <option value="Kolkata">Kolkata</option>
                                <option value="Kochi">Kochi</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Chennai">Chennai</option>
                                <option value="Banglore">Bangalore</option>
                                <option value="Delhi">Delhi</option>
                            </select>
                            <div *ngIf="regform.get(['permanent_address','city']).invalid">
                                <small>*Enter your city</small>
                            </div>
                        </div>

                        <!-- country=USA -->
                        <div class="col" *ngIf="regform.get(['permanent_address','country']).value==='usa'">
                            <select name="" class="form-select" id="" formControlName="city">
                                <option value="" disabled selected>Select city</option>
                                <option value="California">California</option>
                                <option value="New York">New York</option>
                                <option value="Dallas">Dallas</option>
                                <option value="Florida">Florida</option>
                                <option value="Los Angles">Los Angles</option>
                                <option value="Miami">Miami</option>
                                <option value="Detroit">Detroit</option>
                                <option value="Alaska">Alaska</option>
                            </select>
                            <div *ngIf="regform.get(['permanent_address','city']).invalid">
                                <small>*Enter your city</small>
                            </div>
                        </div>

                        <!-- country=Canada -->
                        <div class="col" *ngIf="regform.get(['permanent_address','country']).value==='canada'">
                            <input type="text" class="form-control" placeholder="city" formControlName="city">
                            <div *ngIf="regform.get(['permanent_address','city']).invalid">
                                <small>*Enter your city</small>
                            </div>
                        </div>

                        <!-- country=null -->
                        <div class="col" *ngIf="regform.get(['permanent_address','country']).value===''">
                            <input type="text" class="form-control" placeholder="city" formControlName="city">
                            <div
                                *ngIf="regform.get(['permanent_address','city']).invalid && (regform.get(['permanent_address','city']).touched || regform.get(['permanent_address','city']).dirty)">
                                <small>*Enter your city</small>
                            </div>
                        </div>

                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="region" formControlName="region">
                            <div
                                *ngIf="regform.get(['permanent_address','region']).invalid && (regform.get(['permanent_address','region']).touched || regform.get(['permanent_address','region']).dirty)">
                                <small>*Enter your region</small>
                            </div>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Postal Code" mask="000-000"
                                formControlName="postal_code">
                            <div
                                *ngIf="regform.get(['permanent_address','postal_code']).invalid && (regform.get(['permanent_address','postal_code']).touched || regform.get(['permanent_address','postal_code']).dirty)">
                                <small>*Enter your Pin Code</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-check mt-3">
                    <input type="checkbox" class="form-check-input" value="isSameAsPermanent" (click)="resetAddress()">
                    <label for="" class="form-check-label">Same as Permanent Address</label>
                </div>

                <!-- Communication Address  -->

                <div class="container" formGroupName="communication_address" *ngIf="!isSameAsPermanent">
                    <div class="row mt-5">
                        <div class="col">
                            <label for="Address" class="form-label heading">Communication Address</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="street Address"
                                formControlName="street">
                            <div
                                *ngIf="regform.get(['communication_address','street']).invalid && (regform.get(['communication_address','street']).touched || regform.get(['communication_address','street']).dirty)">
                                <small>*Enter your Address</small>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <select name="" id="" class="form-select" formControlName="country" (change)="resetCommunicationCity()">
                                <option value="" disabled selected> Select country</option>
                                <option value="india">India</option>
                                <option value="usa">USA</option>
                                <option value="canada">Canada</option>
                            </select>
                            <div
                                *ngIf="regform.get(['communication_address','country']).invalid && (regform.get(['communication_address','country']).touched || regform.get(['communication_address','country']).dirty)">
                                <small>*Enter your country</small>
                            </div>

                        </div>

                        <!-- country=null -->
                        <div class="col" *ngIf="regform.get(['communication_address','country']).value===''">
                            <input type="text" class="form-control" placeholder="city" formControlName="city">
                            <div
                                *ngIf="regform.get(['communication_address','city']).invalid && (regform.get(['communication_address','city']).touched || regform.get(['communication_address','city']).dirty)">
                                <small>*Enter your city</small>
                            </div>
                        </div>
                        
                        <!-- country=India -->
                        <div class="col" *ngIf="regform.get(['communication_address','country']).value==='india'">
                            <select class="form-select" formControlName="city">
                                <option value="" disabled selected>Select city</option>
                                <option value="Kolkata">Kolkata</option>
                                <option value="Kochi">Kochi</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Chennai">Chennai</option>
                                <option value="Banglore">Bangalore</option>
                                <option value="Delhi">Delhi</option>
                            </select>
                            <div *ngIf="regform.get(['communication_address','city']).invalid">
                                <small>*Enter your city</small>
                            </div>
                        </div>

                        <!-- country=USA -->
                        <div class="col" *ngIf="regform.get(['communication_address','country']).value==='usa'">
                            <select class="form-select" formControlName="city">
                                <option value="" disabled selected>Select city</option>
                                <option value="California">California</option>
                                <option value="New York">New York</option>
                                <option value="Dallas">Dallas</option>
                                <option value="Florida">Florida</option>
                                <option value="Los Angles">Los Angles</option>
                                <option value="Miami">Miami</option>
                                <option value="Detroit">Detroit</option>
                                <option value="Alaska">Alaska</option>

                            </select>
                            <div *ngIf="regform.get(['communication_address','city']).invalid">
                                <small>*Enter your city</small>
                            </div>
                        </div>
                        <div class="col" *ngIf="regform.get(['communication_address','country']).value==='canada'">
                            <input type="text" class="form-control" placeholder="city" formControlName="city">
                            <div
                                *ngIf="regform.get(['permanent_address','city']).invalid && (regform.get(['permanent_address','city']).touched || regform.get(['permanent_address','city']).dirty)">
                                <small>*Enter your city</small>
                            </div>
                        </div>

                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="region" formControlName="region">
                            <div
                                *ngIf="regform.get(['communication_address','region']).invalid && (regform.get(['communication_address','region']).touched || regform.get(['communication_address','region']).dirty)">
                                <small>*Enter your region</small>
                            </div>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Postal Code" mask="000-000"
                                formControlName="postal_code">
                            <div
                                *ngIf="regform.get(['communication_address','postal_code']).invalid && (regform.get(['communication_address','postal_code']).touched || regform.get(['communication_address','postal_code']).dirty)">
                                <small>*Enter your Pin Code</small>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Skills -->

                <div formArrayName="skills">
                    <div class="row mt-5">
                        <div class="col form-inline">
                            <label for="Address" class="form-label heading">Add Skill
                                <button type="button" class="btn skill" (click)="addSKill()">Add New Skill</button>
                            </label>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="" *ngFor="let skill of skills.controls; let i=index">
                            <div class="d-flex">
                                <input type="text" class="form-control mt-3" placeholder="Skill" [formControlName]="i">
                                <i class="fa fa-trash bin " aria-hidden="true" (click)="delete(i)"
                                    [style.cursor]="skills.controls.length <= 1 ? 'not-allowed' : 'pointer'"></i>
                            </div>

                            <div class="skill-message" *ngIf="skills.controls[i].invalid && skills.controls[i].touched">
                                <small>*Skill is required</small>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <button class="btn submit" type="submit" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Submit</button>

                    </div>

                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </form>
</div>
