<div class="container-fluid" *ngIf="!goto_login">
  <form [formGroup]="regform" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-5">
        <header>
          <h1>Registration Form</h1>
        </header>
        <div class="row">
          <div class="col">
            <label for="First Name">First Name<span>*</span></label>
            <input
              type="text"
              class="form-control"
              placeholder="First Name"
              formControlName="first_name" />
            <app-validation-component
              [control]="regform.get('first_name')"
              [key]="'First Name'"></app-validation-component>
          </div>
          <div class="col">
            <label for="Last Name">Last Name <span>*</span></label>
            <input
              type="text"
              name
              id
              class="form-control"
              placeholder="Last Name"
              formControlName="last_name" />
            <app-validation-component
              [control]="regform.get('last_name')"
              [key]="'Last Name'"></app-validation-component>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <label for="Email">Email<span>*</span></label>
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              formControlName="email" />
            <app-validation-component
              [control]="regform.get('email')"
              [key]="'Email'"></app-validation-component>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <label for="dob">Date of Birth<span>*</span></label>
            <input
              type="date"
              max="{{ formattedDate }}"
              class="form-control"
              placeholder="Date of Birth"
              formControlName="date_of_birth" />
            <app-validation-component
              [control]="regform.get('date_of_birth')"
              [key]="'Date of Birth'"></app-validation-component>
          </div>
          <div class="col">
            <label for="Contact Number">Contact Number<span>*</span></label>
            <input
              type="text"
              class="form-control"
              placeholder="Contact Number"
              formControlName="phone"
              mask="(000) 000-000-000" />
            <app-validation-component
              [control]="regform.get('phone')"
              [key]="'Contact Number'"></app-validation-component>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <label for="gender" class="form-label heading">Gender</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input
              type="radio"
              class="form-check-input"
              name="gender"
              value="male"
              id="male"
              formControlName="gender"
              checked />
            <label for="male" class="form-check-label" aria> Male </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              type="radio"
              class="form-check-input"
              name="gender"
              value="female"
              id="female"
              formControlName="gender" />
            <label for="female" class="form-check-label"> Female </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              type="radio"
              class="form-check-input"
              name="gender"
              value="prefer not to say"
              formControlName="gender" />
            <label for="prefer not to say" class="form-check-label">
              Prefer not to say
            </label>
          </div>
        </div>

        <!-- Permanent Address -->
        <div class="row mt-5">
          <div class="col">
            <label for="Address" class="form-label heading">Permanent Address</label>
          </div>
        </div>
        <ng-container
          *ngTemplateOutlet="
            addressSection;
            context: {
              form: regform.get('permanent_address'),
              address: 'permanent_address'
            }
          "></ng-container>

        <div class="form-check mt-3">
          <input
            type="checkbox"
            class="form-check-input"
            (click)="resetAddress()" />
          <label for class="form-check-label">Same as Permanent Address</label>
        </div>

        <!-- Communication Address  -->
        <div class="row mt-5">
          <div class="col">
            <label for class="form-label heading">Communication Address</label>
          </div>
        </div>
        <ng-container *ngIf="!isSameAsPermanent">
          <ng-container
            *ngTemplateOutlet="
              addressSection;
              context: {
                form: regform.get('communication_address'),
                address: 'communication_address'
              }
            "></ng-container>
        </ng-container>

        <!-- Skills -->
        <div formArrayName="skills">
          <div class="row mt-5">
            <div class="col form-inline">
              <label for="Address" class="form-label heading">Add Skill
                <button type="button" class="btn skill" (click)="addSKill()">
                  Add New Skill
                </button>
              </label>
            </div>
          </div>
          <div class="row mt-1">
            <div class *ngFor="let skill of skills.controls; let i = index">
              <div class="d-flex">
                <input
                  type="text"
                  class="form-control mt-3"
                  placeholder="Skill"
                  [formControlName]="i" />
                <ng-container *ngIf="skills.controls.length > 1 && i != 0">
                  <i
                    class="fa fa-trash bin"
                    aria-hidden="true"
                    (click)="delete(i)"></i>
                </ng-container>
              </div>
              <ng-container
                class="skill-message"
                *ngIf="skills.controls[i].invalid && skills.controls[i].touched">
                <small>Skill is required</small>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <button
              class="btn submit"
              type="submit"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              Submit
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </form>
</div>
<div *ngIf="goto_login">
  <app-login [credentials]="registrationFormData"></app-login>
</div>

<ng-template #addressSection let-addressForm="form" let-address="address">
  <div class="container" [formGroup]="addressForm">
    <div class="row mt-3">
      <div class="col">
        <label for="Street Address">Street Address<span>*</span></label>
        <input
          type="text"
          class="form-control"
          placeholder="Street Address"
          formControlName="street" />
        <app-validation-component
          [control]="addressForm.get(['street'])"
          [key]="'Street Address'"></app-validation-component>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <label for="Country">Country<span>*</span></label>
        <select
          name
          id
          class="form-select"
          formControlName="country"
          (change)="resetCity(address)">
          <option value disabled selected>Select country</option>
          <option value="india">India</option>
          <option value="usa">USA</option>
          <option value="canada">Canada</option>
        </select>
        <app-validation-component
          [control]="addressForm.get(['country'])"
          [key]="'Country'"></app-validation-component>
      </div>

      <!-- country=India -->
      <div class="col" *ngIf="addressForm.get(['country']).value === 'india'">
        <label for="City">City<span>*</span></label>
        <select name class="form-select" id formControlName="city">
          <option value disabled selected>Select city</option>
          <option value="Kolkata">Kolkata</option>
          <option value="Kochi">Kochi</option>
          <option value="Mumbai">Mumbai</option>
          <option value="Chennai">Chennai</option>
          <option value="Banglore">Bangalore</option>
          <option value="Delhi">Delhi</option>
        </select>
        <app-validation-component
          [control]="addressForm.get(['city'])"
          [key]="'City'"></app-validation-component>
      </div>

      <!-- country=USA -->
      <div class="col" *ngIf="addressForm.get(['country']).value === 'usa'">
        <label for="City">City<span>*</span></label>
        <select name class="form-select" id formControlName="city">
          <option value disabled selected>Select city</option>
          <option value="California">California</option>
          <option value="New York">New York</option>
          <option value="Dallas">Dallas</option>
          <option value="Florida">Florida</option>
          <option value="Los Angles">Los Angles</option>
          <option value="Miami">Miami</option>
          <option value="Detroit">Detroit</option>
          <option value="Alaska">Alaska</option>
        </select>
        <app-validation-component
          [control]="addressForm.get(['city'])"
          [key]="'City'"></app-validation-component>
      </div>

      <!-- country=Canada -->
      <div class="col" *ngIf="addressForm.get(['country']).value === 'canada'">
        <label for="City">City<span>*</span></label>
        <input
          type="text"
          class="form-control"
          placeholder="City"
          formControlName="city" />
        <app-validation-component
          [control]="addressForm.get(['city'])"
          [key]="'City'"></app-validation-component>
      </div>

      <!-- country=null -->
      <div class="col" *ngIf="addressForm.get(['country']).value === ''">
        <label for="City">City<span>*</span></label>
        <input
          type="text"
          class="form-control"
          placeholder="City"
          formControlName="city" />
        <app-validation-component
          [control]="addressForm.get(['city'])"
          [key]="'City'"></app-validation-component>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <label for="Region">Region<span>*</span></label>
        <input
          type="text"
          class="form-control"
          placeholder="Region"
          formControlName="region" />
        <app-validation-component
          [control]="addressForm.get(['region'])"
          [key]="'Region'"></app-validation-component>
      </div>
      <div class="col">
        <label for="postal_code">Postal Code<span>*</span></label>
        <input
          type="text"
          class="form-control"
          placeholder="Postal Code"
          formControlName="postal_code" />
        <app-validation-component
          [control]="addressForm.get(['postal_code'])"
          [key]="'Postal Code'"></app-validation-component>
      </div>
    </div>
  </div>
</ng-template>
