<div class="container-fluid">
  <header class="d-flex">
    <div class="heading">
      <!-- <h1>List of Customers</h1> -->
      <h1>List of Students</h1>
    </div>
        <select name="" id="" [(ngModel)]="filterText">
          <option value="all">All</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
  </header>
  <hr>
  <div class="container">
  <table class="tab mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <!-- <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Country</th> -->
        <th scope="col">Gender</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Course</th>
        <th scope="col">Marks</th>
        <th scope="col">Percentage</th>
        <th scope="col">Fees</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let people of list_of_customers | filter:filterText; let i=index" [ngClass]="{'white-color': i % 2 === 0, 'black-color': i % 2 !== 0, 'topper': ((people.marks / 600) * 100) >= 90}">
        <td>{{i + 1}}</td>
        <td>{{people.name | lowercase}} </td>
        <td>{{people.address}}</td>
        <td [ngStyle]="{color: people.gender === 'Male' ? 'red' : 'green'}">{{people.gender}}</td>
        <td>{{people.dob | date:'fullDate'}}</td>
        <td>{{people.course | uppercase}}</td>
        <td>{{people.marks}}</td>
        <td>{{people.marks | percentage:total_mark:2}}</td>
        <td>{{people.fees | currency:'INR'}}</td>
        <!-- <td>{{people.city}}</td>
        <td>{{people.state}}</td>
        <td>{{people.country}}</td> -->
        <!-- <td><button type="button" (click)="onEdit(people)">Edit</button></td> -->
      </tr>
    </tbody>
  </table>
  <!-- <app-child [customer_detail]="customer_details" (update_details)="onUpdate($event)"></app-child> -->
</div>
</div>