<div class="container-fluid">
    <header class="d-flex">
        <div class="heading">
            <h1>Student Management</h1>
        </div>
        
    </header>
    <hr>
    <div class="container">
        <table class="table mt-3">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Country</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let people of list_of_customers">
                <th scope="row">{{people.i}}</th>
                <td>{{people.name}}</td>
                <td>{{people.address}}</td>
                <td>{{people.city}}</td>
                <td>{{people.state}}</td>
                <td>{{people.country}}</td>
                <td><button type="button" >Edit</button></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

  