.container-fluid{
    background-color: black;
    height: 100vh;
    color: white;
}
.container{
    background-color: #303033;
    padding: 60px;
}
.heading{
    width: 90%;
}
header{
    padding: 50px;
}
.table {
    --bs-table-bg:  #303033;
    --bs-table-color:white;
}