<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
        <button
          type="button"
          class="close btn btn"
          data-bs-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
      </div>

      <form [formGroup]="customer_form">
        <div class="modal-body">
          <div class="form-group">
            <label for="First Name">First Name<span>*</span></label>
            <input
              type="text"
              class="form-control"
              id="first_name"
              formControlName="f_name" />
            <app-validation-component
              [control]="customer_form.get('f_name')"
              [key]="'First Name'"></app-validation-component>
          </div>
          <div class="form-group">
            <label for="Last Name">Last Name<span>*</span></label>
            <input type="text" class="form-control" formControlName="l_name" />
            <app-validation-component
              [control]="customer_form.get('l_name')"
              [key]="'Last Name'"></app-validation-component>
          </div>
          <div class="form-group">
            <label for="dob">Date of Birth<span>*</span></label>
            <input
              type="date"
              class="form-control"
              formControlName="dob"
              max="{{ formattedDate }}" />
            <app-validation-component
              [control]="customer_form.get('dob')"
              [key]="'Date of birth'"></app-validation-component>
          </div>
          <div class="form-group">
            <label for="email">Email<span>*</span></label>
            <input type="text" class="form-control" formControlName="email" />
            <app-validation-component
              [control]="customer_form.get('email')"
              [key]="'Email'"></app-validation-component>
          </div>
          <div class="form-group">
            <label for="Plans">Plans<span>*</span></label>
            <input type="text" class="form-control" formControlName="gender" />
            <app-validation-component
              [control]="customer_form.get('gender')"
              [key]="'Plan'"></app-validation-component>
          </div>
          <div class="form-group">
            <label for="Phone Number">Phone Number<span>*</span></label>
            <input
              type="text"
              class="form-control"
              formControlName="phone_number"
              mask="(000) 000-000-000" />
            <app-validation-component
              [control]="customer_form.get('phone_number')"
              [key]="'Phone number'"></app-validation-component>
          </div>
          <br />
          <button class="btn btn-danger skill-button" (click)="addSkill()">
            Add Skill
          </button>
          <div class="form-group" formArrayName="Skills">
            <label for="Skills">Skills<span>*</span></label>
            <div
              class="row container-fluid"
              *ngFor="let s of skills.controls; let i = index">
              <div class="col-md-11">
                <input
                  type="text"
                  class="form-control mt-1"
                  [formControlName]="i" />
              </div>
              <div
                class="col-md-1"
                *ngIf="skills.controls.length > 1 && i != 0">
                <i
                  class="fa fa-trash bin"
                  aria-hidden="true"
                  (click)="delete(i)"></i>
              </div>
              <div
                class="skill-message"
                *ngIf="skills.controls[i].invalid && skills.controls[i].touched">
                <small>Skill is required</small>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger update-button"
          (click)="onClick()"
          [attr.data-bs-dismiss]="customer_form.valid ? 'modal' : null"
          aria-label="Close">
          {{ isEditCustomer ? "Apply Changes" : "Create Customer" }}
        </button>
      </div>
    </div>
  </div>
</div>
